<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SharedFolder" value="C:\Users\dsavery\Desktop\SharedFolder\"/>
    <add key="TempFolder" value="C:\ProgramData\SRH Systems\Temp\VTSImport\"/>
    <add key="ConfigFolder" value="Config\"/>
    <add key="VtsSchedule" value="day-sched Full.xml"/>
    <add key="VtsFeedBack" value="vtsFeedBack.xml"/>
    <add key="FieldMap" value="fieldMap.xml"/>
    <add key="FieldThresholds" value="fieldThresholds.xml"/>
    <add key="UniqueFieldModifications" value="uniqueFieldModifications.xml"/>
    <add key="ValidTestNames" value="validTestNames.xml"/>
    <add key="VtsFormattedData" value="vtsFormattedData.xml"/>
    <add key="VtsRepository" value="vtsRepository.xml"/>
    <add key="TestResourceName" value="VTS Test"/>
    <add key="FuelResourceName" value="VTS Fuel"/>
    <add key="VehicleResourceName" value="VTS Vehicle"/>
    <add key="SamplingConfigurationResourceName" value="VTS Sampling Configuration"/>
    <add key="SampleLineConfigurationResourceName" value="VTS Sample Line Configuration"/>
    <add key="IOChannelsSetupResourceName" value="VTS IO Channels Setup"/>
    <add key="CheckThresholdValues" value="false"/>
    <add key="InformUserOfFieldsOutsideThreshold" value="false"/>
    <add key="InformUserOfInvalidTests" value="false"/>
    <add key="CrossReferencePreconditionOnTestRun" value="false"/>
    <add key="NullValueKey" value=""/>
    <add key="KeepOldValueKey" value="!_"/>
  </appSettings>
</configuration>